<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Northwind" 
         connectionString="Persist Security Info=False;Data Source=DESKTOP-FBIH3O0;Initial Catalog=Northwind;User ID=sa;Password=drjldigi"/>
  </connectionStrings>
  <connectionStrings>
    <add name="Avis" 
         connectionString="Persist Security Info=False;Data Source=192.168.99.177;Initial Catalog=Avis;User ID=Drilo;Password=Drilo"/>
  </connectionStrings>
  <connectionStrings>
    <add name="Clientes" 
         connectionString="Persist Security Info=False;Data Source=192.168.99.177;Initial Catalog=Clientes;User ID=Drilo;Password=Drilo"/>
  </connectionStrings>
</configuration>